# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=

# Collections
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_JOBS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_APPLICATIONS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_PLACEMENTS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_COMPANIES_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_ADMIN_ROLES_COLLECTION_ID=

# Email Validation
NEXT_PUBLIC_ALLOWED_EMAIL_DOMAIN=gct.ac.in

 APPWRITE_API_KEY=


